* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Jura', sans-serif;
}

html {
    height: 100%;
}

body {
    display: grid;
    min-height: 100%;
}

button {
    display: grid;
    grid-template-columns: 1fr auto;
    text-align: left;
    border: 1px solid #888888;
    border-radius: 50px;
    font-weight: 700;
    padding: 0px 15px;
    height: 37px;
    align-items: center;
}

header, main{
    margin: 0% 4% 0% 4%;
    width: 92%;
}

header {
    display: grid;
    grid-template-columns: 45% 55%;
    grid-auto-rows: minmax(81px, auto);
    align-items: center;
}

header p{
    color: #292929;
    font-size: 24px;
    font-weight: 700;
}


header a{
    color: #292929;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
}

header button{
    font-size: 14px;
    width: 120px;
    background-color: white;
}

nav {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(13.75%, 1fr));
    grid-template-rows: 1fr;
    align-items: center;
    justify-items: end;
}

nav a{
    width: 120px;
}

main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-column-gap: 52px;
    grid-row-gap: 52px;
    margin-bottom: 52px;
    margin-top: 10px;
}

article {
    min-width: 320px;
}

article button{
    font-size: 18px;
    width: 100%;
}

.article-img {
    min-width: 100%;
}

.images {
    position: relative;
    display: inline-block;
    width: 100%;
    aspect-ratio: 320 / 370;
}

.favorite-icon {
    position: absolute;
    top: 10px;
    right: 15px;
    z-index: 1;
}

.title {
    display: grid;
    grid-template-columns: 1fr auto;
    text-align: left;
    font-size: 24px;
    font-weight: 700;
    margin: 2% 0px 4% 0px;
}

footer {
    background-color: #EDEDED;
    display: grid;
    grid-auto-rows: minmax(81px, auto);
    justify-items: center;
    align-items: center;
    font-size: 24px;
    font-weight: 500;
    color: #ABABAB;
}

@media (width < 960px) {
    nav {
        grid-template-columns: 1fr;
        gap: 10px;
    }
}

