* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans';
}

a {
    text-decoration: none;
}

header {
    height: 90vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr;
}

header p {
    color: white;
    text-align: center;
}

.header-bg-prewiev-main {
    font-family: 'Bebas Neue';
    font-size: 60px;
    letter-spacing: 5.7px;
}

.header-bg {
    height: 84vh;
    background: url(media/header.png);
    background-size: 100% 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 40% 20% 40%;
}

.header-bg-logo {
    text-align: center;
    margin-top: 35px;
}

.header-bg-down {
    font-size: 11px;
    letter-spacing: 3.7px;
    display: grid;
    align-items: end;
    margin-bottom: 60px;
}

.header-nav {
    height: 6vh;
    display: grid;
    grid-template-columns: 40% 45%;
    border-bottom: 1px solid #E6E6E6;
}

.header-nav-logo {
    display: grid;
    justify-items: center;
    align-items: center;
}

.header-nav-nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    font-size: 12px;
}

