* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    padding: 50px;
}

header {
    display: flex;
    flex-direction: column;
    width: auto;
    height: 904px;
    background: url('media/header.png');
    align-items: center;
    justify-content: center;
}

header nav {
    align-self: end;
    width: 503px;
    margin-top: 29px;
    margin-right: 312px;
    display: flex;
    justify-content: space-between;
}

#s1 {
    margin: 133px 309px;
    width: 1182px;
    height: 559px;
    background: url('media/firstsection.png');
}

#s2, #s3, #s4, #s5 {
    padding: 133px 309px;
    width: 1800px;
    height: auto;
    background-color: #FBFBFB;
}

#s3, #s5 {
    background-color: white;
}

#s2-title, #s4-title {
    font-family: Oswald;
    font-size: 48px;
    font-weight: 700;
    line-height: 71.14px;
    letter-spacing: 3.07200026512146px;
}

.oval {
    border-radius: 25px;
    display: flex;
    width: 50px;
    height: 50px;
    box-shadow: 0px 0px 20px 0px #DBDBDB;
    align-items: center;
    justify-content: center;
}


.line {
    margin-top: 15px;
    height: 2px;
    width: 45px;
    background-color: black;
}

.articles {
    margin-top: 85px;
    display: flex;
    justify-content: space-between;
    gap: 28px;
}

.readmore {
    margin-top: 19px;
    font-family: Oswald;
    font-size: 10px;
    font-weight: 300;
    line-height: 14.82px;
    letter-spacing: 0.64000004529953px;
}

.text {
    margin-top: 19px;
    font-family: OpenSans;
    font-size: 12px;
    line-height: 25px;
    letter-spacing: 1.0080000162124634px;
    color: #777777;
}

#this {
    border-bottom: 3px solid #70BF73
}

.articles article{
    width: 373px;
    height: auto;
    background-color: #FFFFFF;
    padding: 44px;
}

.article-header {
    display: flex;
    justify-content: space-between;
    font-family: Oswald;
    font-size: 20px;
    font-weight: 300;
    line-height: 29.64px;
    letter-spacing: 1.28000009059906px;
    align-items: center;
}

nav a{
    font-family: Oswald;
    font-size: 14px;
    font-weight: 400;
    line-height: 20.75px;
    letter-spacing: 1.940000057220459px;
    text-align: left;
    text-decoration: none;
    color: white;
}

.head{
    margin-top: auto;
    font-family: Oswald;
    font-size: 72px;
    font-weight: 500;
    line-height: 106.7px;
    letter-spacing: 4.6080002784729px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: white;
}

.head-about{
    margin-top: 24px;
    font-family: OpenSans;
    font-size: 20px;
    line-height: 23.44px;
    letter-spacing: 1.28000009059906px;
    color: white;
}

.slider {
    margin-top: auto;
}

.longdiv {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.longdiv-1{
    display: flex;
    flex-direction: column;
    height: auto;
}

.longdiv-2 {
    display: flex;
    flex-direction: column;
    height: auto;
}

.s3-nav {
    margin-top: 56px;
    margin-bottom: 161px;
    display: flex;
    justify-content: space-between;
}

.s3-nav a{
    font-family: OpenSans;
    font-size: 13px;
    line-height: 15.23px;
    letter-spacing: 0.8320000767707825px;
    text-decoration: none;
    color: gray;
}

.s3-nav .thiss3{
    color: #252525;
}

.p2, .p2-2, .p2-3, .p2-4{
    position: relative;
    height: auto;
}

.p2-a{
    margin-top: 23px;
    display: block;
    margin-left: 174px;
    width: 300px;
}

.p2-k {
    position: absolute;
    top: 268px;
    left: 370px;
    font-family: Oswald;
    font-size: 48px;
    font-weight: 300;
    line-height: 71.14px;
    letter-spacing: 3.07200026512146px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    text-decoration: line-through;
    text-decoration-color: #70BF73;
 
}

.p2-a-title{
    font-family: OpenSans;
    font-size: 18px;
    line-height: 21.09px;
    letter-spacing: 1.152000069618225px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #252525;
}

.p2-a-about{
    font-family: OpenSans;
    font-size: 13px;
    line-height: 23px;
    letter-spacing: 0.8320000171661377px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #C2C2C2;
    margin: 20px 0px;
}

.p2-a-read{
    font-family: OpenSans;
    font-size: 13px;
    line-height: 15.23px;
    letter-spacing: 0.8320000767707825px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    text-decoration: line-through;
    text-decoration-color: #70BF73;
    color: #252525;
}

.p2-2 {
    margin-top: 137px;
}

.p2-2 .p2-k {
    left: 340px;
    text-decoration: none;
}

.p2-3 img, .p2-4 img{
    position: absolute;
    left: 133px;
}

.p2-3 .p2-k, .p2-4 .p2-k{
    position: absolute;
    top: 262px;
    left: 0px;
    width: 295px;
    text-decoration: none;
}

.p2-4 .p2-k{
    position: absolute;
    top: 262px;
    left: 0px;
    width: 420px;
    text-decoration: none;
}

.p2-3 .p2-a, .p2-4 .p2-a{
    position: absolute;
    top: 468px;
    display: block;
    margin: 0px;
    margin-left: 174px;
    width: 300px;
}

.longdiv-2 .p2-a div{
    text-align: right;
}

.longdiv-2 .p2-a{
    height: 88px;
}

.p2-4 {
    margin-top: 177px;
}

.p2-3, .p2-4{
    height: 555px;
}

.vmore {
    font-family: Oswald;
    margin-top: auto;
    font-size: 13px;
    font-weight: 400;
    line-height: 19.27px;
    letter-spacing: 2px;
    text-align: right;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

#s4 article {
    width: 370px;
    height: 398px;
}

.a-4-1 {
    background: url('media/t1.png');
}

.a-4-2 {
    background: url('media/t2.png');
}

.a-4-3 {
    background: url('media/t3.png');
}

#s5 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.imgbox1 {
    width: 182px;
    height: 27px;
}

.imgbox2 {
    width: 20px;
    height: 20px;
    margin: 31px 0px;
}

.imgbox3 {
    width: 111px;
    height: 15px;
    margin-top: 25px;
}

.imgbox4 {
    width: 1172px;
    height: 20px;
}


.ttexxt {
    width: 735px;
    font-family: OpenSans;
    font-size: 14px;
    line-height: 31px;
    letter-spacing: 0.8960000872612px;
    text-align: center;
    color: #373737;
}

.contactus {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contact3 {
    grid-column: span 2;
    background-color: #2E2E2E;
    width: 1800px;
    height: 339px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
}

.contact1, .contact2 {
    display: flex;
    flex-direction: column;
    width: 898px;
    height: 300px;
    justify-content: center;
    align-items: center;
}

.contact1 {
    background-color: #FBFBFB;
}

.contact2 {
    background-color: #70BD59;
}

.contact2 .contact-text, .contact2 .contact-text2 {
    color: #FFFFFF;
}

.contact-text{
    font-family: Oswald;
    font-size: 24px;
    font-weight: 400;
    line-height: 35.57px;
    letter-spacing: 2.6666667461395264px;
    color: #373737;
    margin: 19px 0px 22px 0px;
}

.contact-text1{
    font-family: OpenSans;
    font-size: 14px;
    line-height: 16.41px;
    letter-spacing: 1.5555555820465088px;
    color: #373737;
}

.contact3-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Oswald;
    font-size: 13px;
    font-weight: 300;
    line-height: 19.27px;
    letter-spacing: 0.8320000767707825px;
    margin-bottom: 39px;
}

.copy {
    display: flex;
    flex-direction: column;
    width: 1800px;
    height: 58px;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    font-family: Oswald;
    font-size: 13px;
    font-weight: 300;
    line-height: 19.27px;
    letter-spacing: 0.8320000767707825px;
    background-color: #252525;
}