body {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    color: #0D1421;
    margin: 0px;
}

#textvar {
    font-size: 24px;       
    text-align: left;      
    vertical-align: top;   
    margin: 0;             
    padding: 0;            
}

.leftside{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 280px;
    height: 100vh;
    float: left;
    border-right: 1px solid #EAECF0;
}

.upheader{
    display: flex;
    justify-content: space-between;
    height: 96px;
    align-items: center;
    border-bottom: 1px solid #EAECF0;
    margin: 0px;
    padding: 0px 32px 0 32px;
}

select{
    font-size: 16px;
    padding: 8px 16px;
    border: 1px solid #EAECF0;
    border-radius: 8px;
}

main {
    display: flex;
    flex-wrap: wrap;
    padding: 24px 0px 24px 24px;
    gap: 32px;
}

article{
    border: 1px solid #EAECF0;
    border-radius: 8px;
    width: 322px;
    height: 500px;
    padding: 24px;
    overflow:hidden;
}

.article_data {
    margin: 0px;
    padding: 0px;
}

.article_title {
    margin: 8px 0px 8px 0px;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
}

.article_text {
    margin: 0px;
    font-weight: 400;
    font-size: 16px;
    color: #354153;
    line-height: 28px;
}

.theme{
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    color: #667085;
    font-weight: 400;
}

.theme_text {
    margin: 0 0 16px 0;
}

.aside_footer{
    padding: 32px 24px;
    color: #667085;
    font-size: 16px;
    font-weight: 400;
}

.aside_footer p{
    padding: 0;
    margin: 0;
    line-height: 24px;
}

.aside_header{
    padding: 32px 24px 16px 24px;
}

.logo {
    display: flex;
    padding: 0px;
    gap: 16px;
    font-size: 24px;
    height: 32px;
    color: #354153;
}

.search{
    width: fill;
    height: 36px;
    padding: 0px;
    border-radius: 8px;
    border: 1px solid #EAECF0;
    padding: 0px 16px 0px 16px;
    font-size: 16px;
    margin-top: 18px;
}

.navigation {
    padding: 0px 16px 0px 16px;
}

.navigation div{
    width: fill;
    height: 24px;
    padding: 6px 8px 6px 8px;
    border-radius: 8px;
}

.nav-a{
    width: fill;
    height: 24px;
    padding: 6px 8px 6px 8px;
    border-radius: 8px;
}

.navigation a{
    text-decoration: none;
    color: black;
    font-size: 16px;
}

#this {
    background-color: #F2F4F7;
}

.other a{
    margin-left: 16px;
    color: #354153;
}
